


// colors
$color-primary: #f85032; //#0575E6;
$color-primary-light: #f85032; //#0575E6;
$color-primary-dark: #e73827;// #021B79;

$color-project1-light: #ffb900;
$color-project1-dark: #ff7730;

$color-warning: #ff7730;
$color-info: #0575E6;
$color-success: #28b485;

$color-grey-dark-3: #333;
$color-grey-dark-2: #999;
$color-grey-light-1: #f7f7f7;
$color-grey-dark : #777;
$color-white: #fff;
$color-black: #000;

//fonts

$default-font-size: 1.6rem;


// grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

