.footer{
    background-color: $color-grey-dark-3 ;
    padding: 3rem 0;

    &__text {
        color: $color-primary;
        font-size: 2rem;
        text-align: center;

        @include respond (sm) {
            font-size: 1.5rem;
        }
    }


}