.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,$color-primary-dark, $color-primary-light);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include respond(xs) {
        clip-path: polygon(0 0, 100% 0, 100%  85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }


    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
       

        @include respond(sm) {
            width: 640px;
            max-width: 100%
        }
      }


      &__social {
        margin-top: 6rem;

        @include respond(sm) {
            text-align: center;
        }


          &--icon {
            font-size: 5rem;
            color: $color-primary;
            margin: 0 1rem;
            padding: 1rem;
            border-radius: 10rem;
          }

          &--icon:nth-child(-n + 2) {
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

          }

          &--icon:nth-last-child(-n + 2) {
            animation-name: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;
              
          }
      }
}




