.experience {
    width: 80%;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);


    @include respond(sm) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);

        @include respond(sm) {
            transform: translateX(0) skewX(0);
            width: 11rem;
            height: 11rem;
            padding: 0 1rem 1rem 0;
        }

        // @include respond(xs) {
        //     width: 5rem;
        //     height: 5rem;
        //     padding: 0 1rem 1rem 0;
        // }

        @include respond(xs) {
           float: none;
           margin: 3rem auto;
        }

    }

    &__img {
        width: 100%;
    }

    &__text {
        transform: skewX(12deg);
        @include respond(sm) {
            transform:  skewX(0);;
        }
        @include respond(sm) {
            text-align: left;
        }

    }


}