.project-card {
    width: 75%;
    height: 60rem;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
}