.section-about {
    background-color:$color-grey-light-1 ;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(sm) {
        padding: 20rem 0;
    }
}


.section-stack {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light );
    transform: skewY(-7deg);
    margin-top: -11rem;
    & > * {
        transform: skewY(7deg);
    }

    @include respond(sm) {
        padding: 10rem 0;
    }
}

.section-projects {
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -11.5rem;

    @include respond(sm) {
        padding: 20rem 0 5rem 0;
    }

}

.section-experience {
    background-image: linear-gradient(to right,  rgba($color-primary-dark, .3), rgba($color-primary-light, .3) );
    padding: 15rem 0;

    @include respond(sm) {
        padding: 10rem 0;
    }
}

.section-contactme {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light );

}

.contactme {
    background-image: linear-gradient(105deg,
                            rgba(#cad5e3, .9) 0%,
                            rgba(#cad5e3, .9) 50%,
                            transparent 50%),         
                        url(../img/contact-me.jpg);
    background-size: 100%; 
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

    @include respond(md) {
        background-size: cover; 
    }

    @include respond(sm) {
        background-image: linear-gradient(to right,
                            rgba(#cad5e3, .9) 0%,
                            rgba(#cad5e3, .9) 100%),        
                        url(../img/contact-me.jpg);
        
    }

    &__form {
        width: 50%;
        padding: 6rem;
        @include respond(sm) {
            width: 100%;
            text-align: center;
        }

        

    }

}